    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="form-group">
                        <label for="FirstName">FirstName</label>
                        <input type="text" name="FirstName" id="FirstName" for="FirstName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="LastName">LastName</label>
                        <input type="text" name="LastName" id="LastName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="email" name="Email" id="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Gender">Gender</label>
                        <input type="email" name="Email" id="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Age">Age</label>
                        <input type="number" name="Age" id="Age" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="PhoneNumber">PhoneNumber</label>
                        <input type="tel" name="PhoneNumber" id="PhoneNumber" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" name="Password" id="Password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="AccountType">AccountType</label>
                        <input type="number" name="AccountType" id="AccountType" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="DateOfBirth">Date Of Birth</label>
                        <input type="datetime" name="DateOfBirth" id="DateOfBirth" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Loans">Loans</label>
                        <input type="number" name="AccountType" id="AccountType" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="BVN">BVN</label>
                        <input type="text" name="BVN" id="BVN" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="NIN">NIN</label>
                        <input type="text" name="NIN" id="NIN" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="NumberLine">NumberLine</label>
                        <input type="number" name="NIN" id="NIN" class="form-control" />
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    @ViewData["Message"]